<a href="https://colab.research.google.com/github/AkhilKanike/StatisticalLearningAndDataMiningII/blob/Data-ingestion/Galaxy_NGC7531.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Radial Velocity of Galaxy NGC7531

SUMMARY:

       The galaxy data frame records the  radial  velocity  of  a spiral  galaxy  measured  at 323 points in the area of sky which it covers.  
      All the measurements  lie  within  seven slots  crossing at the origin.  The positions of the measurements given by four variables (columns).

DATA DESCRIPTION:

 - east.west: the east-west coordinate.  
        The origin,  (0,0),  is near  the  center of the galaxy, east is negative, west is positive.

 - north.south: the north-south coordinate.  
        The origin, (0,0), is near the center of the galaxy, south is negative, north is positive.

 - angle: 
        degrees of counter-clockwise rotation from the horizontal of the slot within which the observation lies.

 - radial.position: 
        signed  distance  from  origin;  negative  if east-west coordinate is negative.

 - velocity: 
        radial velocity measured in km/sec.

SOURCE:

      Buta, R. (1987)  The  Structure  and  Dynamics  of  Ringed Galaxies III:  Surface  Photometry and Kinematics of the Ringed Nonbarred Spiral NGC7531. 
      The  Astrophysical  J.Supplement Ser. Vol. 64, pp. 1--37.
      John M. Chambers and Trevor J. Hastie, (eds.)  Statistical Models in S, Wadsworth and Brooks, Pacific Grove, CA 1992, pg. 352.

In [2]:
!wget https://web.stanford.edu/~hastie/ElemStatLearn/datasets/galaxy.data

--2021-09-27 17:51:34--  https://web.stanford.edu/~hastie/ElemStatLearn/datasets/galaxy.data
Resolving web.stanford.edu (web.stanford.edu)... 171.67.215.200, 2607:f6d0:0:925a::ab43:d7c8
Connecting to web.stanford.edu (web.stanford.edu)|171.67.215.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21386 (21K)
Saving to: ‘galaxy.data’

galaxy.data         100%[===================>]  20.88K  --.-KB/s    in 0.07s

2021-09-27 17:51:35 (288 KB/s) - ‘galaxy.data’ saved [21386/21386]

In [3]:
import pandas as pd
import numpy as np

In [5]:
pd.read_csv("galaxy.data")

     row.names  east.west  north.south  angle  radial.position  velocity
0            3   8.462789   -38.173172  102.5        39.099998      1769
1            4   7.964978   -35.927692  102.5        36.799999      1749
2            5   7.467167   -33.682213  102.5        34.500001      1749
3            6   6.969356   -31.436731  102.5        32.200000      1758
4            7   6.471544   -29.191250  102.5        29.899999      1750
..         ...        ...          ...    ...              ...       ...
318        413  -9.090464    41.004433  102.5       -42.000000      1456
319        414  -9.588275    43.249912  102.5       -44.299999      1448
320        415 -10.042798    45.300137  102.5       -46.400002      1409
321        416 -10.540609    47.545616  102.5       -48.700001      1416
322        417 -11.060064    49.888725  102.5       -51.099999      1429

[323 rows x 6 columns]